# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ
.idea/
out/production/resources/context.xml
out/production/resources/logback.groovy
out/production/resources/com/naosim/dddwork/datasource/file/AttendanceManagementData.csv
out/production/resources/META-INF/component-scan-service-mock.xml
out/production/resources/META-INF/component-scan-service.xml
out/production/resources/META-INF/component-scan.xml
out/production/resources/META-INF/project-root.xml
out/production/resources/META-INF/base/base-root.xml
out/production/resources/META-INF/base/component-scan.xml
out/production/resources/META-INF/base/aop/aop.xml
out/production/resources/META-INF/base/aop/component-scan.xml
out/production/resources/META-INF/base/controller/component-scan.xml
out/production/resources/META-INF/base/controller/controller.xml
out/production/resources/META-INF/base/controller/interceptor.xml
out/production/resources/META-INF/base/controller/process-event.xml
out/production/resources/META-INF/base/database/data-source.xml
out/production/resources/META-INF/base/database/database.xml
out/production/resources/META-INF/base/database/exception-translator.xml
out/production/resources/META-INF/base/database/mybatis-configuration.xml
out/production/resources/META-INF/base/database/query-mapper.xml
out/production/resources/META-INF/base/database/transaction.xml
out/production/resources/META-INF/base/environment/environment.xml
out/production/resources/META-INF/base/scope/component-scan.xml
out/production/resources/META-INF/base/scope/scope.xml
out/test/resources/context-api-test.xml
out/test/resources/context.xml
out/test/resources/logback.groovy
out/test/resources/csv/data.csv
out/test/resources/META-INF/project-root-api-test.xml
out/test/resources/META-INF/base/component-scan-test.xml
out/test/resources/META-INF/base/database/data-source.xml
out/test/resources/META-INF/base/environment/environment.xml
out/test/resources/META-INF/properties/base/ddl-path.properties
out/test/resources/META-INF/properties/base/identifier.properties
out/test/resources/META-INF/properties/base/scenario.properties
out/test/resources/META-INF/properties/environment/cloudHosting.properties
out/test/resources/META-INF/properties/environment/localMac.properties
