<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       ">


    <!-- ======================================================================
    |
    |    アプリケーションコンテキストの設定ファイル（WEB-INF/web.xmlから読み込まれる）
    |
    =========================================================================== -->


    <!-- 全プロジェクト共通の設定を読み込む（原則的にcoreディレクトリ配下は弄る必要なし） -->
    <import resource="classpath:META-INF/base/base-root.xml"/>

    <!-- プロジェクト固有の設定を読み込む -->
    <import resource="classpath:META-INF/project-root.xml"/>

    <!-- テスト用の設定を読み込む -->
    <import resource="classpath:META-INF/test-component-scan.xml"/>

</beans>
