<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">


    <display-name>Spring Application</display-name>
    <description>Spring Application for ISP</description>

    <!-- 環境ごとに設定を切り替えるためのプロファイル設定 -->
    <context-param>
        <param-name>spring.profiles.active</param-name>
        <param-value>local</param-value>
    </context-param>

    <!-- 文字コードを設定（参考：http://ameblo.jp/spring-beginner/entry-10232480113.html） -->
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <!-- 使用する文字コードをUTF8に設定 -->
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <!-- リクエストとレスポンスの文字コードをUTF8に強制エンコーディング -->
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <!-- 全てのURLに対して文字コードを設定 -->
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!-- DispatchServletの設定 -->
    <servlet>
        <servlet-name>DispatchServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!-- アプリケーションコンテキストの設定ファイルの場所を指定 -->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:context.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <!-- 全てのURLに対してSpring経由で実行 -->
        <servlet-name>DispatchServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <!-- jndiの設定 -->
    <resource-ref>
        <res-ref-name>jndi/database</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>


    <!-- SpringMVCの外で発生した例外のハンドリング -->
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error</location>
    </error-page>
</web-app>
